<?xml version="1.0"?>
<model>
  <name>block_v1</name>
  <version>1.0</version>
  <sdf version="1.7">block_markers_v1.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    A 4 cm cube with AR markers on each face for use with Gazebo and ROS. ID 09 to 14
  </description>
</model>
