<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rx200">

    <!-- rx200 -->
    <xacro:include filename="$(find reactorx200_description)/urdf/rx200.urdf.xacro"/>

    <!--ZED2-->
    <xacro:include filename="$(find common_sensors)/urdf/sensors/zed2.xacro"/>
    <xacro:zed2 link_prefix="" joint_prefix="" />

    <!-- Include the Gazebo plugins for the ZED2 -->
    <xacro:zed2_gazebo robot_ns=""/>>

    <!-- Attach the ZED2 camera to a suitable link in your robot -->
    <!-- <link name="world"/>--> <!-- Only if not defined before -->
    <joint name="zed2_mount_joint" type="fixed">
        <parent link="world"/> <!-- Change to the appropriate parent link in your robot -->
        <child link="zed2_camera_center"/>
        <origin xyz="0.8 0 0.08" rpy="0 -0.2 ${pi}"/> <!-- Adjust the position and orientation as needed -->
    </joint>


</robot>
